* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--base-font);
}

:root {
  /* ### Primary */

  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);

  /* ### Neutral */

  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);

  /* ### Typography */
  --heading: "Poppins", Sans-serif;
  --body: "Open-sans";
  --base-font: 16px;

  /* weights */
  --regular: 400;
  --semibold: 600;
  --bold: 700;
}

body {
  font-size: var(--base-font);
  font-family: var(--body);
}

/*
======================
    utility classes
======================
*/

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-align: center;
  padding: .25rem .5rem;
  background-color: transparent;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border: 1px solid var(--Pink);
  box-shadow: 0px 0px 8px var(--Light-Pink);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin-inline: auto;
}

/* 
======================
  Main CSS
======================
*/

/* header styles */
.header {
  padding: 1rem 0;
}

.header__logo--size {
  width: clamp(6.25rem, 20vw, 12.5rem);
}

.header__btn--size {
  width: 6.875rem;
}

/* header styles end */

